@model List<Present>

@{
    Layout = "_AdminLayout";
}

<div class="row"></div>
@foreach (var item in Model)
{
    <div class="col-md-3">
        <img class="img-thumbnail" src="@("/img/" + item.Img)" alt="">
        <h3>@item.Name</h3>
        <p>@item.Description</p>
        <p>@item.Price.ToString("c")</p>
        <p><a class="btn btn-success" asp-action="Change" asp-controller="Admin" asp-route-Id="@item.Id">Change</a></p>
        <p><a class="btn btn-danger" asp-action="Delete" asp-controller="Admin" asp-route-Id="@item.Id">Delete</a></p>
    </div>
}
