@model List<Order>

@{
    Layout="_AdminLayout";
}

<table class="table table-striped table-inverse">
    <tr class="text-center">
        <thead >List of orders</thead>
    </tr>
    <tr>
        <th>Id</th>
        <th>Presents</th>
        <th>Count</th>
        <th>Price</th>
        <th>Payment</th>
        <th>User</th>
        <th>Adress</th>
        <th>Phone number</th>
        <th>Date</th>
    </tr>
    @if(Model.Count > 0){
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    <a asp-action="GetPresent" asp-controller="User" asp-route-Id="@item.PresentsId">@item.Present</a>
                </td>
                <td>@item.Count</td>
                <td>@item.Price</td>
                @foreach (var p in ViewBag.Payment)
                {
                    if(p.Id == item.PaymentId){
                        <td>@p.Name</td>
                    }
                }
                <td>@item.UserId</td>
                <td>@item.Adress</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Date</td>
            </tr>
        }
    }
    else{
        <tr class="text-center">
            <th colspan="8">Empty</th>
        </tr>
    }
    
</table>