@model List<Present>

@{
    Layout = "_UserLayout";
}

<div class="row mt-5 mb-2">
@foreach (var item in Model)
{
    <div class="col-md-3">
        <img class="img-thumbnail" src="@("/img/" + item.Img)" alt="">
        <h3>@item.Name</h3>
        <p>@item.Description</p>
        <p>@item.Price.ToString("c")</p>
        <p><a class="btn btn-success" asp-action="ToBasket" asp-controller="User" asp-route-Id="@item.Id">To Basket</a></p>
    </div>
}
</div>